<header class="navbar">
  <div class="navbar-container">
    <h3>DevHome</h3>
  </div>
</header>

<style>
  .navbar {
    height: var(--navbar-height, 60px);
    width: 100%;
    background-color: rgba(120, 99, 255);
    display: flex;
    align-items: center;
  }
  .navbar-container {
    padding-left: 1rem;
  }
  h3 {
    margin: 0;
  }
</style>
